{# Full Configuration #}

{# Management Configuration #}
{% include 'management.j2' %}

{# AAA Configuration #}
{% include 'aaa.j2' %}

{# VLANs Configuration #}
{% include 'vlans.j2' %}

{# Interfaces Configuration #}
{% include 'interfaces.j2 '%}

