{# Interface Configuration                           #}
{# CLI Syntax                                        #}
{# interface <intf name>                             #}
{#   description <description>                       #}
{#   switchport mode <mode>                          #}
{# (if access port) switchport access vlan <vlan>    #}
