{# Interface Configuration #}

{% for interface in interfaces %}
interface {{interface}} 
description {{interfaces[interface].descr}}
switchport mode {{interfaces[interface].mode}}
{% if interfaces[interface].mode == 'access' %}
switchport access {{interfaces[interface].vlan}}
{% endif %}
{% endfor %}