{# MLAG Configuration #}
vlan 4094
name MLAG
trunk group MLAGPeer

no spanning-tree vlan 4094

{% for item in interface[inventory_hostname]['interfaces'] %}
interface {{ item }}
description {{ interface[inventory_hostname]['interfaces'][item]['desc'] }}
{% if interface[inventory_hostname]['interfaces'][item]['mlag_peerlink'] == true %}
channel-group 2000 mode active
{% endif %}

{% endfor %}

interface port-channel 2000
switchport
switchport mode trunk
switchport trunk group MLAGPeer

{% if interface[inventory_hostname]['mlag_side'] == 'A' %}
int vlan 4094
ip address 192.0.0.0/31

mlag configuration
domain-id workshop
local-interface vlan4094
peer-link po2000
peer-address 192.0.0.1
{% else %}
int vlan 4094
ip address 192.0.0.1/31

mlag configuration
domain-id workshop
local-interface vlan4094
peer-link po2000
peer-address 192.0.0.0
{% endif %}